[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/firesim/linux.git
[submodule "jtr/JohnTheRipper"]
	path = jtr/JohnTheRipper
	url = https://github.com/ucb-bar/JohnTheRipper.git
	branch = riscv
